<%- include('partials/header') %>

    <section class="about-banner">
        <div class="container">
            <div class="row align-items-center gy-4">
                <div class="col-lg-7 ">

                    <div class="breadcrumb">
                        <div class="d-flex align-items-center">

                            <a href="/">
                                Home
                            </a>

                            <span>
                                >
                            </span>
                            <span>
                                About
                            </span>
                        </div>
                    </div>

                    <span class="section-label">About</span>
                    <h1>About <br class="d-lg-block d-none"> Alric <span>Electric.</span></h1>
                    <!-- <p class="" >Join a team that believes in doing things the right way — <br class="d-lg-block d-none">
                        thoughtfully engineered, responsibly
                        built, and designed to last. <br class="d-lg-block d-none"> We are always looking for people who
                        share our values.</p> -->
                </div>
            </div>
        </div>
    </section>

    <section class="page-section about-details bg-white">
        <div class="container">
            <div class="text-center mb-4">
                <span class="section-label-about">philosophy</span>
                <h2  class="fw-bold" >Where Lives Connect</h2>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-12">
                    <div class="text-center">
                        <p>At Alric Electric, we believe every connection tells a story of modern living. Our vision is
                            to create solutions <br class="d-lg-block d-none"> that
                            are not only reliable but also meaningful & responsible, bringing value into everyday
                            spaces.</p>
                        <p class="mt-3">
                            In a world wired by speed and built on constant upgrades, Alric Electric was created with a
                            different intention: <br class="d-lg-block d-none">
                            to slow down, think deeper, and engineer electrical living that endures. We believe that
                            true progress isn't about <br class="d-lg-block d-none">
                            producing more - it's about producing Better. Stronger. Safer. Kinder to the planet and the
                            people who depend on it.
                        </p>
                        <p class="mt-3 mb-0">
                            Every product we craft begins with a simple question: Will this reduce harm and increase
                            value over its lifetime?
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <section class="page-section bg-white   text-white py-0">
        <div class="mission-section">
            <div class="container">
                <div class="row justify-content-center align-items-center gy-4">
                    <div class="col-lg-10">

                        <h5 class="text-center">
                            To merge cutting-edge innovation with <br class="d-lg-block d-none"> sustainable
                            engineering,
                            creating electrical <br class="d-lg-block d-none">
                            and digital solutions that are designed to last.
                        </h5>
                        <span class="section-label-about">BRAND PROMISE</span>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <section class="page-section bg-white values-section">
        <div class="container">
            <div class=" d-lg-flex d-md-flex d-block mb-5  justify-content-between align-items-center">
                <div>
                    <span class="section-label"> Values</span>
                    <h2 class="fw-bold" >The SHARP Principles</h2>
                </div>

                <p> The values that guide how we think, act and build <br class="d-lg-block d-none"> - shaping our
                    culture, decision and relationships
                    every day.</p>
            </div>

            <div class="d-lg-flex d-block justify-content-center mt-5 values-wrapper">



                <div class="card-value">
                    <div class="info-card">
                        <h5>Straightforward</h5>
                        <div class="card-bg">
                            <div class="card-bg-content">
                                S
                            </div>
                        </div>

                        <p>
                            We stay
                            grounded <br class="d-lg-block d-none">
                            and
                            open. Progress <br class="d-lg-block d-none">
                            comes from
                            listening, <br class="d-lg-block d-none">
                            improving and <br class="d-lg-block d-none">
                            growing together. <br class="d-lg-block d-none"><br class="d-lg-block d-none">
                        </p>
                    </div>
                </div>
                <div class="card-value">
                    <div class="info-card">
                        <h5>Humility</h5>
                        <div class="card-bg">
                            <div class="card-bg-content">
                                H
                            </div>
                        </div>

                        <p>
                            We never assume <br class="d-lg-block d-none">
                            we have all the <br class="d-lg-block d-none">
                            answers. The best <br class="d-lg-block d-none">
                            ideas can come <br class="d-lg-block d-none">
                            from anywhere. <br class="d-lg-block d-none"><br class="d-lg-block d-none">
                        </p>
                    </div>
                </div>
                <div class="card-value">
                    <div class="info-card">
                        <h5>Agility</h5>
                        <div class="card-bg">
                            <div class="card-bg-content">
                                A
                            </div>
                        </div>

                        <p>
                            We remain <br class="d-lg-block d-none">
                            adaptable and <br class="d-lg-block d-none">
                            curious, turning <br class="d-lg-block d-none">
                            challenges into<br class="d-lg-block d-none">
                            opportunities to <br class="d-lg-block d-none">
                            innovate.
                        </p>
                    </div>
                </div>
                <div class="card-value">
                    <div class="info-card">
                        <h5>Resilience</h5>
                        <div class="card-bg">
                            <div class="card-bg-content">
                                R
                            </div>
                        </div>

                        <p>We build with <br class="d-lg-block d-none">
                            endurance in <br class="d-lg-block d-none">
                            mind-in our <br class="d-lg-block d-none">
                            products, our <br class="d-lg-block d-none">
                            teams and our <br class="d-lg-block d-none">
                            culture.
                        </p>
                    </div>
                </div>
                <div class="card-value">
                    <div class="info-card">
                        <h5>Partnership</h5>
                        <div class="card-bg">
                            <div class="card-bg-content">
                                P
                            </div>
                        </div>

                        <p>
                            Meaningful <br class="d-lg-block d-none">
                            progress is built <br class="d-lg-block d-none">
                            together - <br class="d-lg-block d-none">
                            through trust, <br class="d-lg-block d-none">
                            collaboration and <br class="d-lg-block d-none">
                            shared purpose.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class=" about-contact-section">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-6">
                    <h2>
                        Still need help? <br  class="d-lg-none d-block" > <span>
                            We’ve got you.
                        </span>
                    </h2>
                    <p>
                        Our support team is available Monday through Saturday. <br class="d-lg-block d-none">
                        Call us, email us, or visit our Mumbai office - we are here to help.
                    </p>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="d-lg-flex d-block justify-content-end aling-items-center">
                        <a href="tel:18002683200" class=" btn btn-theme-danger me-3">Call 1800 2683 200</a>
                        <a href="mailto:info@altric.in" class=" btn btn-theme-outline">Email Us</a>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>