<%- include('partials/header') %>

    <section class="page-hero section-banner-gap page-hero-light">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 hero-content">
                    <div class="brand-slogan">
                        <span class="section-label">Where lives connect</span>
                    </div>

                    <h1>Built for <br class=""> spaces that demand <span>more.</span>
                    </h1>
                    <p>Precision-engineered electrical solutions for the spaces <br class="d-lg-block d-none"> where
                        modern life happens.</p>
                    <div class="hero-actions">
                        <a href="/products/protection-devices/eq9" class="btn btn-theme-danger">Explore Products</a>
                        <a href="/about" class="btn btn-theme-outline ">About Us</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="page-banner-image  d-lg-block d-none">
                        <img src="/images/illustartion1.png" alt="alric electrical" class="img-fluid">
                    </div>

                </div>
            </div>
        </div>
    </section>



    <section class="page-section bg-white">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-6">
                    <span class="section-label"> promise</span>
                    <h2>Every connection tells <br> a story of modern living.</h2>
                </div>
                <div class="ol-xl-6 col-lg-5 col-md-5">
                    <p>
                        In a world wired by speed and constant upgrades, Alric Electric <br class="d-lg-block d-none">
                        was created with a different
                        intention-to slow down,
                        think <br class="d-lg-block d-none"> deeper, and engineer electrical systems that endure.
                        Stronger. <br class="d-lg-block d-none"> Safer. Kinder to the people who depend on them.
                        </p>
                    <div class="sub-section">

                        <span>
                            " Alric Electric: Where Lives <br  class="d-lg-none d-block" > Connect "
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="page-section product-showcase">
        <div class="container">
            <div class="row align-items-center mb-5">
                <div class="col-md-8">

                    <h2>Switch to a Better <br class="d-lg-none d-block"> <span>Living Experience</span></h2>
                </div>
                <div class="col-md-4 text-md-end">
                    <a href="#" class="link-arrow"> view all products <img src="/images/arrow-left.svg"
                            alt="/images/arrow-left.svg">
                    </a>
                </div>
            </div>

            <div class="row g-4">
                <div class="col-md-4">
                    <div class="product-card">

                        <div class="product-image-area">

                            <span class="product-number">01</span>

                            <div class="product-image-slider">
                                <img src="/images/mcb-slide.png" class="slide active" alt="">
                                <img src="/images/isolator-slide.png" class="slide" alt="">
                            </div>

                        </div>

                        <div class="product-info">
                            <h3>Protection Devices</h3>

                            <a href="/protection-devices/eq9" class="arrow-btn">
                            <i class="fa-solid fa-arrow-right-long"></i>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-card">

                        <div class="product-image-area">

                            <span class="product-number">02</span>

                            <div class="product-image-slider">

                                <img src="/images/DP-021.png" class="slide active" alt="">
                                <img src="/images/DP-022.png" class="slide" alt="">


                            </div>

                        </div>

                        <div class="product-info">
                            <h3>Switches & Accessories</h3>

                            <a href="products/switches-and-accessories/elvyx" class="arrow-btn">
                            <i class="fa-solid fa-arrow-right-long"></i>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-card">

                        <div class="product-image-area">

                            <span class="product-number">03</span>

                            <div class="product-image-slider">

                                <img src="/images/DP-021.png" class="slide active" alt="">
                                <img src="/images/DP-022.png" class="slide" alt="">


                            </div>

                        </div>

                        <div class="product-info">
                            <h3>Protection Devices</h3>

                            <a href="#" class="arrow-btn">
                        <i class="fa-solid fa-arrow-right-long"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="brand-quote  text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <p class="quote-text">“ We believe the systems that power our  <br  class="d-md-block d-none" > homes should be designed with care, <br class="d-md-block d-none">
                        responsibility, and the intention to endure. ”</p>
                    <p class="quote-note"> Brand Promise</p>
                </div>
            </div>

        </div>
    </section>

    <section class="cta-section py-lg-5  py-4">
        <div class="container">
            <div class="row align-items-center gy-5">
                <div class="col-lg-6">

                    <h2 class="">Ready to specify <br class="d-lg-block d-none"> <br class="d-lg-none d-block"> <span>
                            Alric Electric
                        </span> <br class=""> for your
                        project?</h2>
                    <p>Architects, contractors and developers can request <br class="d-lg-block d-none"> technical
                        datasheets, product samples or a
                        consultation <br class="d-lg-block d-none"> from our team.</p>
                    <div class="mt-4 d-flex justify-content-center justify-content-lg-start  flex-wrap gap-3">
                        <a href="/pdf/catalogue.pdf" class="btn btn-theme-danger">Download Catalogue</a>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cta-panel">
                        <h5 class="mb-4">Quick Enquiry</h5>
                        <form action="/index" method="POST" class="contact-form">
                            <div class="row g-3">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="name_enquiry" placeholder="Full Name"
                                        required>
                                </div>
                                <div class="col-sm-12">
                                    <input type="email" class="form-control" name="email_enquiry"
                                        placeholder="Email Address" required>
                                </div>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="company"
                                        placeholder="Company / Project Name" name="company_project_enquiry">
                                </div>
                                <div class="col-sm-12">
                                    <div class="select-wrapper">
                                        <select name="product_interest_enquiry" class="form-control" placeholder="Product Interest"
                                            id="product-interest">
                                            <option value="Product Interest"> Product Interest</option>
                                            <option value="Protection Devices"> Protection Devices</option>
                                            <option value="Switches & Accessories"> Switches & Accessories</option>
                                            <option value="Distribution Boards"> Distribution Boards</option>
                                            <option value="All Product"> All Product</option>
                                        </select>
                                        <img src="/images/down-select-arrow.svg" class="select-arrow" alt="down arrow">
                                    </div>

                                </div>
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-theme-danger mt-3">Submit Enquiry</button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>