<%- include('partials/header') %>

    <section class="product-banner">
        <div class="container">
            <div class="row align-items-center justify-content-between gy-4">
                <div class="col-lg-4 ">

                    <div class="breadcrumb">
                        <div class="d-flex align-items-center">

                            <a href="/">
                                Home
                            </a>

                            <span style="font-weight: 400;">
                                >
                            </span>
                            <span>
                                Product
                            </span>
                        </div>
                    </div>


                    <h1>
                        Product Name
                    </h1>
                    <img src="/images/EQ9.png" alt="product banner">
                </div>
                <div class="col-md-5">


                </div>
            </div>
        </div>
    </section>


    <%- include('partials/footer') %>