<%- include('partials/header') %>

    <section class="product-banner">
        <div class="container">
            <div class="row align-items-center justify-content-between gy-4">
                <div class="col-lg-6 ">

                    <div class="breadcrumb">
                        <div class="d-flex align-items-center">

                            <a href="/">
                                Home
                            </a>

                            <span>
                                >
                            </span>
                            <span>
                                Support
                            </span>
                        </div>
                    </div>

                    <span class="section-label">Support</span>
                    <h1>We are here
                        <br class="d-lg-block d-none"> to <span>help you.</span>
                    </h1>
                    <p>Our team is ready to assist with product queries, technical <br class="d-lg-block d-none">
                        guidance and after-sales
                        support. Reach out and we will <br class="d-lg-block d-none">
                        respond promptly.</p>
                </div>
                <div class="col-md-5">
                    <div class="card">
                        <div class="content">
                            <div class="">
                                <img src="/images/icon-call.svg" alt="icon-call">
                            </div>
                            <div class="ms-3">
                                <span class="">
                                    Toll free
                                </span>

                                <a href="tel:18002683200">
                                    1800 2683 200
                                </a>

                            </div>
                        </div>
                        <div class="content">
                            <div class="">
                                <img src="/images/icon-mail.svg" alt="icon-call">
                            </div>
                            <div class="ms-3">
                                <span class="">
                                    Emial
                                </span>

                                <a href="mailto:info@alric.in">
                                    info@alric.in
                                </a>

                            </div>
                        </div>
                        <div class="content">
                            <div class="">
                                <img src="/images/icon-location.svg" alt="icon-call">
                            </div>
                            <div class="ms-3">
                                <span class="">
                                    office
                                </span>

                                <a href="#">
                                    Vikhroli, Mumbai
                                </a>

                            </div>
                        </div>
                        <div class="content">
                            <div class="">
                                <img src="/images/icon-clock.svg" alt="icon-call">
                            </div>
                            <div class="ms-3">
                                <span class="">
                                    hours
                                </span>

                                <a href="#">
                                    Mon-Sat 9 AM - 6 PM
                                </a>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <%- include('partials/footer') %>