<%- include('partials/header') %>
    <style>

    </style>
    <section class="product-banner">
        <img src="images/EQ9.png" alt="product image" class="banner-bg-img">

        <div class="container">
            <div class="text-content-banner">
                <div class="breadcrumb">
                    <div class="d-flex align-items-center">
                        <a href="/">Home</a>
                        <span class="mx-2" style="font-weight: 400; color: #999;">&gt;</span>
                        <span>EQ9</span>
                    </div>
                </div>

                <h1>EQ9</h1>
            </div>
        </div>
    </section>


    <section class="product-content">
        <div class="container">
            <div class="text-lg-start">
                <h2>
                    EQ9 Miniature Circuit Breakers (MCBs) from 0.5A to 63A 
                </h2>
                <p>
                    Alric Electric’s EQ9 series premium MCBs provides reliable and safe protection against overloads and
                    short circuits with
                    best-in-class technology and infrastructure. These MCBs are manufactured with recyclable
                    fire-retardant engineering
                    plastics ensuring safety and durability.
                    These MCBs are must-have safety product for distribution of power at homes, residential / commercial
                    buildings /
                    industrial applications.  
                </p>
            </div>
        </div>
    </section>


    <%- include('partials/footer') %>