<%- include('partials/header') %>

    <section class="product-banner">
        <img src="images/productbanner.png" style="width: 100%;height: 100vh;" alt="">
    </section>


    <%- include('partials/footer') %>