<%- include('partials/header') %>
    <style>

    </style>
    <section class="product-banner">
        <img src="images/EQ9.png" alt="product image" class="banner-bg-img">

        <div class="container">
            <div class="text-content-banner">
                <div class="breadcrumb">
                    <div class="d-flex align-items-center">
                        <a href="/">Home</a>
                        <span class="mx-2" style="font-weight: 400; color: #999;">&gt;</span>
                        <span>EQ9</span>
                    </div>
                </div>

                <h1>EQ9</h1>
            </div>
        </div>
    </section>


    <%- include('partials/footer') %>