<%- include('partials/header') %>

<div class="breadcrumb">
    <div class="d-flex align-items-center">

        <a href="/">
            Home
        </a>

        <span>
            >
        </span>
        <span>
            Support
        </span>
    </div>
</div>

    <%- include('partials/footer') %>