<%- include('partials/header') %>

<style>
    body {
        background: #ffffff;
    }
</style>


    <section class="single-product-page">
        <div class="container">
            <div class="breadcrumb">
                <div class="d-flex align-items-center">
                    <a href="/">
                        Home
                    </a>
                    <span>
                        >
                    </span>
                    <span>
                        EQ9
                    </span>
                    <span>
                        >
                    </span>
                    <span>
                        MCB
                    </span>
                    <span>
                        >
                    </span>
                    <span>
                        <strong>
                            1P MCB, 0.5A C CURVE - 10kA
                        </strong>
                    </span>
                </div>
            </div>

        </div>
        </section>
        <section class="single-product-section">
            <div class="container">

        <div class="row justify-content-between align-items-center">
            <div class="col-md-5">
                <!-- Product Images -->
                <div class="product-gallery">
                    <div class="main-image">
                        <img id="mainProductImage" src="/images/single-product-1.png" alt="Product">
                    </div>
                    <div class="thumbnail-wrapper">
                        <div class="thumbnail active">
                            <img class="thumb" src="/images/single-product-1.png" onclick="changeImage(this)">

</div>
<div class="thumbnail">
    <img class="thumb" src="/images/thambnail2.png" onclick="changeImage(this)">

</div>
<div class="thumbnail">
    <img class="thumb" src="/images/thambnail3.png" onclick="changeImage(this)">

</div>



    </div>

</div>
</div>
<div class="col-md-6">
    <!-- Product Details -->
    <div class="product-details">

        <h1 class="product-title">
            MINIATURE CIRCUIT BREAKER <br class="d-lg-block d-none"> (MCB) - EQ9 - C CURVE - 1P - <br
                class="d-lg-block d-none"> 0.5A - 10kA
        </h1>

<ul>
    <li class="product-description">
        Miniature Circuit Breakers (MCBs) are essential electrical <br class="d-lg-block d-none"> safety products in
        modern electrical distribution
        systems, <br class="d-lg-block d-none">
        offering reliable protection against overloads and short <br class="d-lg-block d-none"> circuits.
    </li>
    <li class="product-description">
        Highest level of let through energy class 3
    </li>
    <li class="product-description">
        Certified as per IS/IEC – 60898 Part 1 - 2015
    </li>
    <li class="product-description">
        IP 20 ingress protection preventing object entry of size <br class="d-lg-block d-none"> above 12.5mm e.g., human
        finger
    </li>
    <li class="product-description">
        Large Wire Terminal cross section to connect cables up to <br class="d-lg-block d-none"> 35mm2 size
    </li>
    <li class="product-description">
        Clear indication of current supply with Red and Green <br class="d-lg-block d-none"> Indicator.
    </li>
</ul>


    <div class="product-actions">

        <a href="/contact" class="btn btn-theme-danger">
            Enquiry
        </a>

        <a href="/pdf/sample.pdf" class="btn btn-theme-outline" download>
            Download
        </a>

    </div>

</div>
</div>

        </div>

    </div>
    </section>


<!-- Related Products -->

<section class="related-products">

    <div class="container">

        <div class="section-header">

            <h2>Related Products</h2>

            <div class="slider-buttons">
                <button id="prevBtn">
                    <img src="images/arrow-right-single-product.svg" alt="">
                </button>
                <button id="nextBtn">
                    <img src="images/arrow-right-product-single.svg" alt="">
                </button>
            </div>

        </div>

        <div class="related-slider" id="relatedSlider">

            <div class="related-card">
                <div class="related-card-img">
                    <img src="/images/related-product-1.png">
                </div>


            
                <h5>2P MCB, 0.5A C CURVE - 10kA</h5>
            </div>

            <div class="related-card">
                <img src="/images/related-product-2.png">
                <h5>4P MCB, 0.5A C CURVE - 10kA</h5>
            </div>

            <div class="related-card">
                <img src="/images/related-product-3.png">
                <h5>MCB-01SPN PREMIUM DB.894 </h5>
            </div>
            <div class="related-card">
                <img src="/images/related-product-1.png">
                <h5>2P MCB, 0.5A C CURVE - 10kA</h5>
            </div>

            <div class="related-card">
                <img src="/images/related-product-2.png">
                <h5>4P MCB, 0.5A C CURVE - 10kA</h5>
            </div>

            <div class="related-card">
                <img src="/images/related-product-3.png">
                <h5>MCB-01SPN PREMIUM DB.894 </h5>
            </div>
            <div class="related-card">
                <img src="/images/related-product-1.png">
                <h5>EQ9 MCB</h5>
            </div>

            <div class="related-card">
                <img src="/images/related-product-2.png">
                <h5>EQ9 Isolator</h5>
            </div>

            <div class="related-card">
                <img src="/images/related-product-3.png">
                <h5>Distribution Board</h5>
            </div>

        

        </div>

    </div>

</section>

    <%- include('partials/footer') %>