<%- include('partials/header') %>



<section class="single-product-page">
    <div class="container">
        <div class="breadcrumb">
            <div class="d-flex align-items-center">
                <a href="/">
                    Home
                </a>
            <span>
                >
            </span>
            <span>
                Support
            </span>
            </div>
    </div>
    </div>
</section>

<div class="breadcrumb">
    <div class="d-flex align-items-center">

        <a href="/">
            Home
        </a>

        <span>
            >
        </span>
        <span>
            Support
        </span>
    </div>
</div>

    <%- include('partials/footer') %>