<div class="container mt-4">

    <nav>

        <ol class="breadcrumb">

            <li class="breadcrumb-item">

                <a href="/products">

                    Home

                </a>

            </li>

            <li class="breadcrumb-item active">

                <%= product.name %>

            </li>

        </ol>

    </nav>

</div>