<div class="col-md-6 mb-4">
    <label class="form-label fw-semibold">
        Category
    </label>

    <select name="category" class="form-control" required>
        <option value="">Select Category</option>

        <option value="Protection Devices">
            Protection Devices
        </option>

        <option value="Switches & Accessories">
            Switches & Accessories
        </option>

        <option value="Distribution Boards">
            Distribution Boards
        </option>
    </select>
</div>