<%- include('../partials/header') %>

    <div class="container py-5">

        <div class="row justify-content-center">

            <div class="col-md-4">

                <div class="card p-4">

                    <h3 class="mb-4">Forgot Password</h3>

                    <form action="/admin/forgot-password" method="POST">

                        <input type="email" name="email" class="form-control mb-3" placeholder="Enter Email" required>

                        <button type="submit" class="btn btn-primary w-100">
                            Send Reset Link
                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

    <%- include('../partials/footer') %>