<form action="/admin/forgot-password" method="POST">
    <input type="email" name="email" class="form-control" placeholder="Enter Email" required>

    <button type="submit" class="btn btn-primary mt-3">
        Send Reset Link
    </button>
</form>