
<%- include('partials/header') %>

    <div class="container py-5 my-4 d-flex justify-content-center align-items-center">

        <div class="card  text-center p-5" style="max-width:500px;border:none; border-radius: 0%;">

            <div class="mb-4">
                <i class="fa-solid fa-circle-check text-success" style="font-size:70px;"></i>
            </div>

            <h2 class="mb-3">
                Thank You!
            </h2>

            <p class="text-muted">
                Your enquiry has been submitted successfully.
                <br>
                Our team will contact you shortly.
            </p>

            <a href="/" class="btn btn-theme-danger mt-3">
                Go To Home Page
            </a>

        </div>

    </div>

    <script src="https://kit.fontawesome.com/your-kit.js"></script>


    <%- include('partials/footer') %>